
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 mb-4">
        <section>
            <div class="text-center border border-light p-5">
                <p class="h4 mb-4">Add Product</p>
                <!-- Email -->
                <input type="text" id="txtProductName" class="form-control mb-4" placeholder="Product Name">
                <input type="text" id="txtModel" class="form-control mb-4" placeholder="Model Number">
                <input type="file" class="form-control mb-4" id="imageUpload" name="image" />
                <input type="number" id="txtPrice" class="form-control mb-4" placeholder="Price">
                <select id="drpCurrency" class="form-control mb-4">

                </select>
                <div>
                    <select id="drpSimType" class="form-control mb-4">
                        <option value="1">Single Sim</option>
                        <option value="2">Dual Sim</option>
                    </select>
                </div>
                <input type="number" id="btrCapacity" class="form-control mb-4" placeholder="Battery Capacity">
                <input type="text" id="txtStorage" class="form-control mb-4" placeholder="Internal Storage">
                <input type="text" id="txtRam" class="form-control mb-4" placeholder="RAM">
                <input type="text" id="txtDesc" class="form-control mb-4" placeholder="Description">
                <input type="button" class="btn btn-info btn-block mb-4" value="Add Product" id="btnAddProducts" onclick="InsertUpdateProducts(InsertUpdateType.Insert)" />
                <p>
                    View Products?
                    <a href="../Admin/ViewProducts">Click Here</a>
                </p>
            </div>
        </section>
    </div>
    <div class="col-md-4"></div>
</div>

<div>&nbsp;</div>

@section Scripts{
    <script src="~/EcommerceJS/admin.js"></script>
}