
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/ECommerceCSS/customer.css" rel="stylesheet" />
<link href="~/ECommerceCSS/LayoutCSS/bootstrap-slider.css" rel="stylesheet" />

<style>
    .size6 {
        width: 80%;
        height: 40px;
    }

    .height-40 {
        height: 40px;
    }

    .range-btn {
        background-color: #333333;
        margin-right: 15px;
    }
</style>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-3">
                    <div class="leftbar">
                        <!--  -->
                        <h4>
                            Categories
                        </h4>

                        <div class="container">
                            <a id="catagorychk-all" class="search btn btn-light s-text13">
                                <i class="fa fa-square"></i> All
                            </a><br>
                            <a id="catagorychk-0" class="search btn btn-light s-text13">
                                <i class="fa fa-square"></i> Nokia
                            </a><br>
                            <a id="catagorychk-1" class="search btn btn-light s-text13">
                                <i class="fa fa-square"></i> Samsung
                            </a><br>
                            <a id="catagorychk-2" class="search btn btn-light s-text13">
                                <i class="fa fa-square"></i> Vivo
                            </a>
                            <br>
                            <a id="catagorychk-3" class="search btn btn-light s-text13">
                                <i class="fa fa-square"></i> Redmi
                            </a>
                        </div>

                        @*<ul>
                                <li class="mb-1 active">
                                    <a href="#" class="s-text13 search-product">
                                        All
                                    </a>
                                </li>

                                <li class="mb-1">
                                    <a href="#" class="s-text13 search-product">
                                        Nokia
                                    </a>
                                </li>

                                <li class="mb-1">
                                    <a href="#" class="s-text13 search-product">
                                        Samsung
                                    </a>
                                </li>

                                <li class="mb-1">
                                    <a href="#" class="s-text13 search-product">
                                        Vivo
                                    </a>
                                </li>

                                <li class="mb-1">
                                    <a href="#" class="s-text13 search-product">
                                        Redmi
                                    </a>
                                </li>
                            </ul>*@

                        <!--  -->
                        <h4 class="mb-4">
                            Filters
                        </h4>

                        <div class="mb-4">
                            <div class="mb-4 s-text13">
                                Price
                            </div>

                            <input id="price-slider" type="text" /><br />
                            <div class="mb-4"></div>
                            <p>
                                <input type="submit" onclick="Filter()"  class="btn btn-primary range-btn" id="btnFilter" value="Filter" />
                                Range:
                                <span><i class="fa fa-inr" aria-hidden="true"></i></span>
                                <span id="spnStartRange">0</span>
                                -
                                <span id="spnEndRange">100000</span>
                            </p>
                        </div>

                        <div class="input-group" style="width: 80%;">
                            <input type="text" placeholder="Search Products" class="input-sm form-control height-40" id="search" /> <span class="input-group-btn">
                                <button type="submit" class="btn btn-default btn-sm height-40">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div id="customerProducts">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div style="clear:both"></div>


@section Scripts{
<script src="~/EcommerceJS/customer.js"></script>
<script src="~/EcommerceJS/customersearch.js"></script>
<script src="~/EcommerceJS/bootstrap-slider.js"></script>

<script>
    $("#price-slider").slider({
        tooltip: 'always',
        min: 0, max: 100000, value: [0, 100000], focus: true
    });
</script>
    }
