
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/EcommerceJS/customer.js"></script>
<link href="~/ECommerceCSS/customer.css" rel="stylesheet" />

@*<table>
    <tr>
        <td>
            <input type="text" id="txtSearch" />
        </td>
    </tr>
</table>*@

<h1> All Products </h1>

<div id="customerProducts" class="col-md-12 col-sm-12 col-lg-12">
  
</div>
<div style="clear:both"></div>
