
@{
    ViewBag.Title = "ViewProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script src="~/EcommerceJS/customer.js"></script>*@
<script src="~/EcommerceJS/viewproduct.js"></script>
<script>
    var productId = '@ViewBag.ProductId';
   
</script>

<h2>ViewProduct</h2>

<div class="col-md-12 col-xs-12 col-sm-12">
    <div class="col-md-4 col-xs-4 col-sm-4">
        <div style="height: 200px;">
            <div style="height: 200px; width: 200px;">
                <img id="productImage" src="http://localhost:51984/Content/ProductImages/Capture0.PNG" style="height :200px;width:200px">
            </div>
        </div>
        <div>&nbsp;</div>
        @*<input type="button" id="btnAddToCart" class="btn btn-primary" value="ADD TO CART" />*@
        <input type="button" id="btnBuyNow" class="btn btn-primary" value="BUY NOW" />
    </div>
    <div class="col-md-7 col-xs-7 col-sm-7">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <h1>
                <span class="_35KyD6">Kotion Each GS410 Wired Headset with Mic<!-- -->&nbsp;&nbsp;(Blue, Over the Ear)</span>
            </h1>
        </div>
        <div>&nbsp;</div>
        <div class="col-md-12 col-xs-12 col-sm-12">
            <div>₹699</div>
        </div>
        <div>&nbsp;</div>
        <div class="col-md-12 col-xs-12 col-sm-12">
            <div class="col-md-4 col-xs-4 col-sm-4"><label>Description</label> </div>
            <div class="col-md-8 col-xs-8 col-sm-8">Description</div>
        </div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div class="table table-bordered col-md-12 col-xs-12 col-sm-12">
            <table>
                <tbody>
                    <tr>
                        <td colspan="2">Specifications</td>
                    </tr>
                    <tr>
                        <td colspan="2">General</td>
                    </tr>
                    <tr>
                        <td>Model Name</td>
                        <td> GS410 </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div style="clear:both"></div>




