
@{
    ViewBag.Title = "ViewProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script src="~/EcommerceJS/customer.js"></script>*@
<script src="~/EcommerceJS/viewproduct.js"></script>
<script src="~/EcommerceJS/enumeration.js"></script>

<script>
    var productId = '@ViewBag.ProductId';   
</script>

<h2>ViewProduct</h2>
<div>&nbsp;</div>
<div class="col-md-12 col-xs-12 col-sm-12">
    <div class="col-md-4 col-xs-4 col-sm-4">
        <div style="height: 200px;">
            <div style="height: 200px; width: 200px;">
                <img id="productImage"  style="height :200px;width:200px">
            </div>
        </div>
        <div>&nbsp;</div>
        @*<input type="button" id="btnAddToCart" class="btn btn-primary" value="ADD TO CART" />*@
        <input type="button" id="btnBuyNow" class="btn btn-primary" value="BUY NOW" />
    </div>
    <div class="col-md-7 col-xs-7 col-sm-7">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <h1 style="margin:0">
                <label id="prdName"></label>
            </h1>
        </div>
        <div class="col-md-12 col-xs-12 col-sm-12">
            <div id="divPrice"></div>
        </div>
        <div>&nbsp;</div>
        <div class="col-md-12 col-xs-12 col-sm-12">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td colspan="2"> 
                            <label>Product Description :</label> 
                            <div id="desc"></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label>Specifications</label>                            
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">General</td>
                    </tr>
                    <tr>
                        <td>Model Name</td>
                        <td id="tdModelName">  </td>
                    </tr>
                    <tr>
                        <td>RAM</td>
                        <td id="tdRam">  </td>
                    </tr>
                    <tr>
                        <td>Sim Type</td>
                        <td id="simTypeName">  </td>
                    </tr>
                    <tr>
                        <td>Battery Capacity</td>
                        <td id="btryName">  </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div style="clear:both"></div>




